@import "./src/style/Study/Tabspage/Tabspage";
@import "./src/style/Study/Contacts_hero/Contacts_hero";


.study-abroad{
  margin-bottom: 200px;
  h1{

    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
  }
  .border{
    border: 1px solid #6483F6;
    width: 140px;
    border-radius: 2px;

  }
  .content-study{
    display: flex ;
    //align-items: center;
    justify-content: space-between;
    .study-img{
      margin-top: 150px;
      position: relative;
      img{
        z-index: 2;
      }
      .border-img{
        border: 3px solid #212121;
        opacity: 0.8;
        z-index: -1;
        position: absolute;
        width: 370px;
        height: 370px;
        left: 56px;
        top: -33px;
        color: #212121;
      }
    }
    .study-info{
      margin-top: 30px;
      p{
        width: 563px;
        font-weight: 500;
        font-size: 20px;
        line-height: 142.84%;
        color: #010D39;
        span{
          font-weight: bolder;
        }
      }
      .info-our{
        margin-top: 58px;
        h2{
          font-weight: bolder;
          color: #010D39;
          font-size: 22px;
          margin-bottom: 8px;
        }
        p{
          width: 579px;
          font-weight: 500;
          font-size: 20px;
          line-height: 182.84%;
        }

      }
      .button-study{
        margin-top: 35px;
        button{
          width: 200px;
          height: 59px;
          background: #109FEF;
          border: none;
          border-radius: 81px;
          color: #FFFFFF;
          cursor: pointer;
        }

      }
    }
  }
}

@media screen and (max-width: 1140px){
  .study-abroad{
    .content-study{
      .study-info{
        margin-left: 80px;
        p{
        }
      }
      .study-img{
        img{
          width: 90%;
        }
        .border-img{
          width: 90%;
        }
      }
    }
  }
}

@media screen and ( max-width: 1024px){
  .study-abroad{
    .content-study{
      .study-img {
      img{
        width: 80%;
      }
        .border-img{
          width: 240px;
          height: 300px;
        }
      }
      .study-info{
        p{
          font-size: 17px;

        }
        .info-our{
          p{
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 992px) {
  .study-abroad{
    .content-study{
      .study-img{
        .border-img{
          width: 230px;
          height: 300px;
        }
      }
      .study-info p{
        width: 450px;
        margin-left: 60px;
        font-size: 16px;
      }
      .info-our {
        h2{
          margin-left: 100px;
        }
        p{
          //width: 400px;
          font-size: 16px !important;
          width: 380px !important;
        }
      }
      .button-study{
        margin-left: 50px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .study-abroad{
    .content-study{
      text-align: center;
      display: block;
      .study-img{
        img{
          width: 50%;
        }
        .border-img{
          width: 320px;
          height: 400px;
          margin-left: 170px;
        }
      }
      .study-info{
        margin-top: 80px;
        p{
          margin-left: 40px;
        }
        .info-our{
          h2{
            margin-left: 0;
          }
          p{
            width: 100% !important;
            text-align: start;
          }
        }
      }
      .button-study{
        margin-left: -40px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .study-abroad{
    .content-study{
      display: block;
      .study-img{
        img{
          width: 60%;
        }
        .border-img{
          width: 300px;
          height: 350px;
          margin-left: 70px ;
        }
      }
      .study-info{
        margin-left: 0;
        p{
          //margin-left: 0;
        }
        .info-our{
          h2{
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px){
  .study-abroad{
    .content-study{
      .study-img{
        .border-img{
          width: 230px;
        }
      }
      .study-info{
        p{
          width: 370px;
          margin-left: 13px;
        }
        .info-our{
          p{
            width: 100%!important;
          }

        }

      }
      .button-study{
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 400px){
  .study-abroad{
    h1{
      font-size: 35px;
    }
    .content-study{
      .study-info{
        p{
          margin-left: -4px;
        }
      }
      .study-img{
        .border-img{
          width: 190px;
          height: 250px;
        }
      }
      .button-study{
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 375px){
  .study-abroad{
    .content-study{
      .study-img{
        .border-img{
          width: 170px;
        }
      }
      .study-info{
        p{
          width: 320px;
        }
        .info-our{
          p{
            width: 300px !important;
            font-size: 15px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px){
  .study-abroad{
    .content-study{
      .button-study{
        button{
          margin-left: -20px;
        }
      }
      .study-img{
        .border-img{
          margin-left: 40px;
        }
      }

    }
  }

}


