@import "./src/style/variables";
@import "./src/style/mixin";
@import "./Burger";


#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: $bg-light;
  box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);
  border-top: 8px solid $bg-danger;
  padding: 24px 0;

  .header {
    @include alignment;

    &_right {
      @include alignment;

      &-nav {
        @include d-f_al-c;
        gap: 56px;

        &_item {
          font-weight: 500;
          font-size: $font-size14;
          text-transform: capitalize;
          color: $color-dark;
        }
      }
      &-search {
        margin: 0 59px 0 83px;
        position: relative;

        &_icon {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          color: #bbbbbb;
          font-size: 26px;
        }
        input {
          background: rgba(255, 255, 255, 0.95);
          border: 0.8px solid rgba(86, 9, 187, 0.2);
          border-radius: 8px;
          padding: 14px 0 14px 38px;
          font-size: $font-size16;
        }
      }
      &-langs {
        select {
          font-weight: 500;
          font-size: $font-size14;
          line-height: 17px;
          text-align: center;
          text-transform: capitalize;
          color: #212121;
          border: none;
          outline: none;
        }
      }
    }
    #burger {
      display: none;
    }
  }
}


@media (max-width: 1024px) {
  #header {
    .header {
      &_right {
        &-nav {
          gap: 34px;
        }
        &-search {
          margin: 0 30px 0 40px;
        }
      }
    }
  }

}


@media (max-width: 768px) {
  #header {
    .header {
      &_right {
        display: none;
      }
    }
  }
}