#cost{
  .cost{
    margin-top: 55px;
    margin-right: 200px;
    h1{
      font-weight: 400;
      font-size: 22px;
      line-height: 27px;
      color: #404146;
      margin-bottom: 50px;
      span{
        font-weight: 600;
        font-size: 22px;
        line-height: 175.9%;
        text-transform: capitalize;
        color: #36ADF0;
      }


    }
    p{
      font-weight: 400;
      font-size: 22px;
      line-height: 45px;
      color: #404146;
    }
  }
}