@import "src/style/Study/Tabspage/Tabs1/Tabs1";
@import "src/style/Study/Tabspage/Tabs2/Tabs2";
@import "src/style/Study/Tabspage/Tabs2/Tabs2";



.tabs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;

}
.tabsList{
  display: flex;
  align-items: center;
  justify-content: center;



  .tabHead1{
    width: 355px;
    height: 15px;
    text-align: center;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #212121;
    background: #F5F5F5;
    cursor: pointer;
  }
  .tabHead2{
    width: 365px;
    height: 15px;
    text-align: center;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #212121;
    background: #F5F5F5;
    cursor: pointer;
  }

  .tabHead3{
    width: 355px;
    height: 15px;
    text-align: center;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #212121;
    background: #F5F5F5;
    cursor: pointer;
  }


}


.tabContent{
  margin-bottom: 200px;
  //.line-tab{
  //  width: 395px;
  //  height: 2px;
  //  background: #FF6A6A;
  //  margin-left: -540px;
  //
  //}
  //.line-tab2{
  //  width: 395px;
  //  height: 2px;
  //  background: #FF6A6A;
  //
  //}
  //.line-tab3{
  //  width: 395px;
  //  height: 2px;
  //  background: #FF6A6A;
  //  margin-left: 810px;
  //
  //}
}