#university{

  .university{
    &--title{
      font-family: 'Gilroy',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      text-transform: capitalize;
      color: #1AA2EE;
      margin-bottom: 66px;
    }
    &--block{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .blocks{
        &--location{
          width: 450px;
          height: 55px;
          opacity: 0.8;
          border: 1px solid #83959b;
          border-radius: 5px;
          margin-bottom: 15px;
          h1{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: rgb(0, 0, 0);
            margin: 15px;
            span{
              font-family: 'Montserrat',sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              text-transform: capitalize;
              color: rgba(51, 51, 51, 0.5);
              margin: 15px;

            }
          }
        }
        &--type{
          width: 450px;
          height: 90px;
          opacity: 0.8;
          border: 1px solid #83959b;
          border-radius: 5px;
          margin-bottom: 15px;

          h1{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: rgba(51, 51, 51, 0.5);
            margin: 25px;
          }
          span{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: rgb(0, 0, 0);
            margin: 15px;
          }
          p{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            margin-left: 250px;
            margin-top: -20px;
            text-transform: capitalize;
            color: rgb(0, 0, 0);
          }
        }
        &--fashion{
          width: 450px;
          height: 250px;
          margin-bottom: 15px;
          background: #FDFDFD;
          box-shadow: 4.6072px 7.37152px 22.1146px rgba(0, 0, 0, 0.1);
          h2{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: rgb(0, 0, 0);
            padding-top: 30px;
            margin: 15px;

          }
          span{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: rgba(51, 51, 51, 0.5);
            margin: 15px;

          }
          &--design{
            p{
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              text-transform: capitalize;
              color: #212121;
              margin-left: 178px;

            }
          }
        }
      }
    }
  }
}