@import "./src/style/variables";
@import "./src/style/mixin";



a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: $bg-light;
  font-family: $Montserrat;
  padding-top: 200px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button,
input {
  border: none;
  outline: none;
}
