// Colors
$bg-light: #ffffff;
$bg-dark: #121212;
$bg-danger: #ff6a6a;
$bg-primary: #7318fb;
$color-primary: #109FEF;
$color-light: #ffffff;
$color-dark: #121212;
$color-p: #010D39;
$color-heading: #212121;

// Font Family
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
$Montserrat: "Montserrat", sans-serif;

// Font Size
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size22: 22px;
$font-size24: 24px;
$font-size_h1: 48px;
$font-size_h2: 44px;
