@import "src/style/base";
@import "src/style/mixin";
@import "src/style/variables";
@import "style/Style";
@import "style/Loading/Loading";



body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
}

.container{
  width: 90%;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

