#load {
    width: 200px;
    height: 190px;
    position: relative;
    border-radius: 50%;
    color: black;
    left: 42%;
    top: 50%;
    animation: res 6s ease-in-out alternate;
    z-index: 999;


    .load{
      margin: 50px 0 0 30px;
      position: absolute;
      width: 200px;
      height: 80px;
      overflow: hidden;
      text-align: center;

      h1{
        font-family: "SF Pro Display" ,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 78px;
        text-align: center;
        text-transform: capitalize;
        color: #1AA2EE;
        animation: text 6s alternate;
        @keyframes text {

          40%{
            transition: 2s;
            transform: translateY(-450px);
          }
          90%{
            transform: translateY(-900px);
          }
          100%{
            transform: translateY(-990px);
          }

        }

      }
    }
  }
